@import "colors";
@import "typography";
@@if ( '<%= themeType %>' !== 'typeBlogTraditional' ) {
@import "structure";
}
@@if ( '<%= themeType %>' !== 'typeBlogTraditional' ) {
@import "../components/blog-traditional/variables/structure";
}